beautifulsoup4
google-generativeai
langchain
langchain-community
langchain-google-genai
langchain-ollama
langchain-qdrant
langgraph
lxml
protobuf>=3.20.3,<4
python-dotenv
qdrant-client
requests
streamlit
